// Main Content
// Manishankar Vakta


.main_content{
    .title{
        font-size: 1.2em;
        color: $blue_mid;
        margin-bottom: 0px !important;
        margin-top: 10px !important;
        i.fa{
            margin-right: 10px;
            font-size: 1.5em;
        }
    }
    hr{
        background: $blue_mid_lit;
        margin: .5rem 0;
    }
}
