// Colors
// BLUE
$blue_dark:   #114477;
$blue_mid:    #0065CA;
$blue_mid_lit:#61ADF8;
$blue_light  :#ABD5FF;

// WHITE
$white_dark:  #FFFFFF;
$white_mid:   #F6F6F6;
$white_light: #DEE0E0;

// BLACK
$black_dark:  #000000;
$black_mid:   #656768;
$black_light: #939599;

// color end